.large {
        font-family: "Archivo", sans-serif;
        font-style: italic;
        font-size: 250%;
        background-color: #282a9c;
        color: white;
      }
#submit {
        background-color:blue;
        border-radius:0.5;
        color:white;
}
