.large {
        font-family: "Archivo", sans-serif;
        font-style: italic;
        font-size: 250%;
        background-color: #282a9c;
        color: white;
      }
#sub {
        background-color:blue;
        color:white;
}
p, ul{
        font-family: 'Bacasime Antique', serif;
        font-size: 125%;
      }
