.large {
        font-family: 'Modern No. 20', sans-serif;
        font-style: italic;
        font-size: 250%;
        background-color: rgb(72, 110, 189);
        display:inline-block;
        padding:5px;
        color: white;
      }
#sub {
        background-color:blue;
        color:white;
        border-radius:25px;
}
#sub:hover {
        color:red;
}
#link {
        font-family: 'Poppins', sans-serif;
        color:blue;
}
#link:hover {      
        color:rgb(186, 54, 54)
}
p, ul{
        font-family: 'Poppins', sans-serif;
      }
div {
        background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)
        padding-bottom:10px;
}
