.large {
        font-family: "Archivo", sans-serif;
        font-style: italic;
        font-size: 250%;
        background-color: #282a9c;
        display:inline-block;
        color: white;
      }
#sub {
        background-color:blue;
        color:white;
        border-radius:25px;
}
#link {
        font-family: 'Poppins', sans-serif;
        color:blue;
}
#link:hover {
        transform:scale(1.5);
        color:rgb(186, 54, 54)
}
p, ul{
        font-family: 'Poppins', sans-serif;
      }
